body {
    padding-top: 4rem;
}
html{
			width:100%;height:100%;
}
* { 
padding: 0; 
			margin: 0; 
			background-color:black;
}
#scene {
			position: relative;
			width: 100%;
			height: 100vh;
			max-width: 1013px; /* Keep original max width */
			max-height: 859px; /* Keep original max height */
			margin:auto;
}
#menu {
			position: absolute;
			width: 100%;
			height: 100%;
			margin:auto;
			background-color:black;
			z-index: 7;
            display: flex;
            justify-content: center;
            align-items: center;
}
canvas { 
			position: absolute;
			top: 0;
			left: 0;
			background-color: transparent;
}
#intro
{
			transition: all 0.1s linear;
}
#layerBackground {
			z-index: 1 
}
#layerBattery {
			z-index: 2 
}
#layerConnections {
			z-index: 3 
}
#layerResult {
			z-index: 4 
}
.fadeOut {
			display: none;
			opacity: 0;
}

.menu-image {
    max-width: 90%;
    max-height: 90vh;
    width: auto;
    height: auto;
}

.ending-image {
    position:absolute;top:0;bottom:0;right:0;left:0;margin:auto; z-index:7;
    max-width: 90%;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

.controls-image {
    position: absolute;
    bottom: 0; /* Align to the bottom of #scene */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for true centering */
    max-width: 90%;
    height: auto;
    margin-top: 10px; /* Optional: add some top margin */
}

@media (max-width: 768px) {
    .game-title {
        font-size: 1.2rem; /* Smaller title on small screens */
    }
    .game-description {
        font-size: 0.8rem; /* Smaller description on small screens */
    }
    .back-btn {
        padding: 0.3rem 0.6rem; /* Smaller padding for back button */
        font-size: 0.8rem;
    }
}
